html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul.messageList {
  list-style-type: none;
}

ul.messageList li {
  text-align: right;
  width: 100%;
}